#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* FORMULÁRIO*/

.container{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 50vw;
  padding: 30px ;
  gap: 20px;
}

input{
  width: 80%;
  border-radius: 8px;
  border: 1px solid #888;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button{
  width: 85%;
  background-color: rgb(148, 84, 207);
}

button:disabled{
  background-color:  rgb(142, 126, 158);
}